body {
  background-color: powderblue;
  font-family: monospace;
}

h1 {
  text-align: center;
  font-weight: bold;
}

ul {
  border: solid black;
}

ol {
  color: pink;
}

.yellow-background {
  background-color: yellow;
}

.light-background {
  background-color: white;
}

.original-background {
  background-color: powderblue;
}
AJ Markow <alexanderjmarkow@gmail.com>